/* PatientDetails.css */

/* Container styles */
.patient-info {
  padding: 20px;
}

/* Header styles */
.patient-info h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Patient details styles */
.patient-info .info {
  margin-bottom: 20px;
}

.patient-info .info p {
  margin-bottom: 10px;
}

/* X-ray image styles */
.patient-info .info img.xray-image {
  max-width: 100%; /* Adjust the maximum width as needed */
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin: 0 auto;
  max-height: 400px; /* Adjust the maximum height as needed */
}
